PORT=5001
ACCESS_TOKEN_SECRET=your_access_token_secret
MONGODB_URI=mongodb+srv://user:password@cluster.mongodb.net/shop-acc?retryWrites=true&w=majority
NODE_ENV=development
RESEND_API_KEY=re_xxxxx
JWT_ADMIN_SECRET=your_jwt_admin_secret
EMAIL_FROM="ShopSam <onboarding@resend.dev>"
FRONTEND_URL=http://localhost:5173

# payOS config
PAYOS_CLIENT_ID=your_payos_client_id
PAYOS_API_KEY=your_payos_api_key
PAYOS_CHECKSUM_KEY=your_payos_checksum_key

# Card Provider config
BASE_URL=your_card_provider_url
PARTNER_ID=your_partner_id
PARTNER_KEY=your_partner_key
PIN_ENCRYPTION_KEY=your_pin_encryption_key

# Cloudinary
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
